# Python artifacts
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
venv/
.idea/

# Playwright Authentication & State
framework_playwright/playwright/.auth/
storage_state.json
state.json

# Reports & Debugging
reports/
allure-results/
allure-report/
test-results/

# Secrets
.env
